<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"> 
    <link rel="stylesheet" href="/css/styleNewUser.css">
<title>Cadastrar Usuário</title>
</head>
<body>
		<div class="container">
			<header>
				<span>Biblioteca Online</span>
			</header>


			<form action="/novo-usuario" method="POST" class="form">
				<div class="form-group">
					<input type="text" class="form-input" placeholder="Nome"> 
				</div>
				<div class="form-group">
					<input type="text" class="form-input" placeholder="E-mail"> 
				</div>
				<div class="form-group">
					<select class="form-select">
						<option></option>
					</select>
				</div>
				
				
				<div class="form-group">
					<input type="text" class="form-input" placeholder="Login"> 
				</div>
				<div class="form-group">
					<input type="text" class="form-input" placeholder="Senha"> 
				</div>

				<button type="submit" class="btn-cadastrar">Cadastrar</button>
				<a href="javascript:history.back()" class="btn-cancelar" role="button">Voltar</a>
			</form>
	</div>
	
</body>
</html>